
ion-list {
  background-color: var(--ion-background-color);
}
ion-card {
  background-color: rgba(128, 0, 128, 0.60);
  margin-top: 30px;
  margin-bottom: 30px;
}
.header {
  text-align: center;
  color: white;
  background-color: var(--ion-background-color);

}
