ion-content {
  --overflow: hidden;
}
ion-spinner {
  display: block;
  margin: auto;
}
ion-list {
  background-color: var(--ion-background-color);
}
// ion-refresher ion-refresher-content {
//   background: rgb(9, 105, 0);
//  --color:#FFF;
// }
.refresher-ios .refresher-pulling-icon, .refresher-ios .refresher-pulling-text, .refresher-ios .refresher-refreshing-icon, .refresher-ios .refresher-refreshing-text {
  color: var(--ion-text-color,#FFF);
  background-color: rgb(9, 105, 0);
}
